<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>hbd dev</title>
    <link rel="stylesheet" href="/css/index.css">
</head>

<body>
    <h1 class="heading">CONGRATULATIONS AND CELEBRTIONS</h1>
    <h1>ALEX4 THIS IS YOUR IP ADDRESS:
        <%= ip %>
    </h1>
    <img src="https://media.discordapp.net/attachments/510224047418769410/851115733341175868/QmBsAv09rSkPgfKuCD3HPhjeUrjDUnMazpcunrKCEoTHieJSWYZYDTKzZU36RuMA0yYdzLssX06YiuVLx3joSQpazFBjuNuUbIqh.png">
    <img style="margin-top: 10vh;" src="https://media.discordapp.net/attachments/510224047418769410/851096710252199936/unknown.png?width=798&height=95">
    <img style="margin-top: 10vh;" src="https://media.discordapp.net/attachments/510224047418769410/851149663172427846/hbdhbd.png">
    <img src="https://images-ext-2.discordapp.net/external/UhCd-uj2SPG2coiPdNbaJdgHTIG-rsLKSh0zvSBJMrc/https/pbs.twimg.com/media/DaE4e7bUQAAXzic.jpg">
    <h1>this is your college</h1>
    <video controls height="500">
        <source src="https://cdn.discordapp.com/attachments/510224047418769410/851118300250898452/MVI_0311.MP4" type="video/mp4">
      </video>
    <video controls height="500">
        <source src="https://cdn.discordapp.com/attachments/510224047418769410/851118382983807027/MVI_0308.MP4" type="video/mp4">
      </video>
    <h1>have fun filming.......in the annapoorna</h1>
    <img src="https://media.discordapp.net/attachments/510224047418769410/851150633964666940/unknown.png">
    <img src="https://media.discordapp.net/attachments/510224047418769410/851150723957653544/unknown.png">
    <img src="https://www.almamaterstore.in/tshirtecommerce/uploaded/2021/06//cart-front-1622964965.png">
    <img src="https://www.almamaterstore.in/tshirtecommerce/uploaded/2021/06//cart-back-1622964965.png">
    <h1> we have bought this for u!</h1>
    <img src="https://images-ext-1.discordapp.net/external/U2edNzE9htGyCIKGRJlwwg0s3quqwvQFQ9s9Pl1Xkns/https/se7en.ws/wp-content/uploads/2020/03/r6s-screenshot-01.jpg?width=700&height=400">
    <img src="https://images-ext-2.discordapp.net/external/HTNGTwTwfF007cV0OFfXAy-k5YXFruxtFThsOUj89AM/http/4images.cgames.de/images/gamestar/279/rainbow-six-siege-outbreak_6023233.jpg?width=700&height=400">
    <img src="https://images-ext-2.discordapp.net/external/XIn-wXIFt4CnJATM-mDw6PKq-EG9vfn8U5pgeLy3rHg/https/s1.ibtimes.com/sites/www.ibtimes.com/files/styles/lg/public/2015/11/25/rainbow-6-siege-screenshot.jpg?width=656&height=438">
    <h1> DAMNNNNNNNNN DIS GAME LOOK SO AMAZING H</h1>
    <button onclick="gameBuy()">Click this button to get it for free :D</button>
    <img style="margin-top: 10vh;" width="1000px" src="https://media.discordapp.net/attachments/510224047418769410/851153133853474866/2020-05-13.png">
    <h1>this project was made by lxrbv PRODUCTIONS PVTLTD</h1>
    <script>
        function gameBuy() {
            alert("YOUR STEAM ACCOUNT HAS BEEN HACKED BY THE RUSSIAN GOVERNMENT")
            alert("jk never again check ur steam inbox <333")
        }
    </script>
</body>

</html>