<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Play</title>
    <link rel="stylesheet" href="/css/index.css">
</head>

<body>
    <h1 class="heading">You are on level:
        <%= level %>
    </h1>
    <div class="question-box">
        <h1 class="question">
            <%= question %>
        </h1>
        <form action="play/submit" method="POST">
            <input type="text" id="answer" name="answer"><br>
            <button type="submit" style="background-color: #FF7A7A;">Check</button>
        </form>
        <p>
            <%= message %>
        </p>
    </div>
</body>

</html>